<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
        <title>complain</title>
        <style>
            .web1_btn1, .web1_btn2{
                background-color: rgb(65, 51, 70);
                color: white;
                border:none; 
                border-radius:10px; 
                padding:15px;                
            }
            .web1_btn1:hover, .web1_btn2:hover{
                background-color: rgb(0,128,0);
                transition: 0.7s;
            }
            .web1_btn1:focus, .web1_btn2:focus{
                outline-style:solid;
                box-shadow: 0 0 0 4px black;
            }
            .web1_p{
                padding: 2%;
                background-color: rgb(242, 180, 245);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                margin-left: 10%;
                margin-right: 10%;
                
                
            }
            .web1_c{
                border: 2px solid black;
                border-radius: 5%;
                margin-top: 4%;
                margin-left: 30%;
                margin-right: 20%;
                height: 600px;
                width: 500px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                background-color: azure;
            }
            .web1_h{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 30;
            }
            .web1_t{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 30px;
            }
            .img_s{
                margin-left: 10%;
            }
            .img_a{
                padding-left: 35%;
                color: rgb(50,205,50);
                margin-top: -120px;
                font-size: 40px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .btn{
                background-color: rgb(67, 70, 74);
                border-radius: 5px;
                padding: 5px;
                margin-top: -80px;
                margin-right: 20px;
                }
                .btn:hover{
                background: rgb(96, 97, 97);
                }
                .btn:active{
                background: rgb(26, 25, 25);
                }
    
        </style>
    </head>
    <body class="web1_body">
        <div class="web1_p">
            <h1 align="center">Welcome</h1>
            <h1 align="center">enter your complaints</h1>

            <form action = "/" method = "GET">
                <div align="right">
                  <input type = "submit" class = "btn" value = "LOGOUT" style="color: white;">
                </div>
              </form>
            <div class="web1_c">
            <center>
                <h5 class="web1_h">Type Your Issue</h5>
                <form method="GET" action="web1Submit">
                    <textarea name="t" rows="10" cols="50" class="web1_t">
                    </textarea><br><br>
                    <button name="c" value="complain" class="web1_btn1">Complain</button><br><br>
                    <button name="v" value="view" class="web1_btn2">View</button><br><br>
                </form>
            </center>
            </div>
        </div>
    </body>
</html>
