<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <title>complaints</title>
        <style>
            .web_p{
                padding: 2%;
                background-color: rgb(162, 220, 243);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                margin-left: 10%;
                margin-right: 10%;
                /* color: white; */
                color:black;
                margin-top: 2%;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .img_s{
                margin-left: 10%;
            }
           
            .img_b{
                padding-left: 37%;
                color: rgb(29, 16, 16);
                margin-top: -50px;
                font-size: 30px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .btn{
                background-color: rgb(22, 24, 27);
                border-radius: 5px;
                padding: 5px;
                margin-top: -180px;
            }
            .btn:hover{
                background: rgb(96, 97, 97);
            }
            .btn:active{
                background: rgb(26, 25, 25);
            }
        </style>
  </head>
  <body class="abcd_b">
        <div class="web_p">
            
            <br><br>
            <h4 class="img_b">Students complaints</h4>
            <form action = "/" method = "GET">
                <div align="right">
                    <input type = "submit" class = "btn" value = "LOGOUT" style="color: white;">
                </div>
            </form>
            <div class="web_c" align="center">
                <% data.forEach(function(data){ %>
                    <form method = "GET" action = '/web2Submit'>
                        
                        <h4>userid: <%= data.userid%></h4>
                        <h4>ISSUE : <%= data.issue%></h4>
                        <h4>TIME : <%= data.time%></h4>
                        
                        
                        
                        
                        <input type = "text" name = "userid" value = <%= data.userid%> hidden readonly>
                        <input type = "text" name = "issue" value = <%= data.issue%> hidden readonly>
                        <input type = "text" name = "cnt" value = <%= data.cnt%> hidden readonly>
                        <input type = "text" name = "time" value = <%= data.time%> hidden readonly>
                        Type solved/unsolved<input type="text" name="status">
                        <input type="submit" value="update">
                        <hr>
                    </form>
                <% }) %>
            </div>
        </div>
  </body>
</html>
