<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
        <title>faculty Dashboard</title>
        <style>
          
          

          body {
            background: rgb(234, 175, 229);
          }

         
          .main1{
            padding-left: 20px;
            margin-left: 400px;
            font-size: 20px;
          }
          .main {
            display: flex;
            margin-top: 11px;
          }

          .n {
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            padding-left: 20px;
          }

          .n label {
            color: rgb(60, 27, 181);
            margin: 1rem 3rem;
            font-size: 22px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding-bottom: 12%;
          }


          .btn {
            background-color: rgb(160, 195, 240);
            border-radius: 5px;
            padding: 5px;
            margin: 5px;
            margin-right: 40px;
          }

          
        </style>
    </head>
    <body>
      <h1>faculty Dashboard</h1>
      <form action="/" method="GET">
        <div align="right">
          <input type="submit" class="btn" value="LOGOUT" style="color: rgb(34, 32, 32);">
        </div>
      </form>
      <br><br>
      <div class="main">
        <nav style="background-color: white;">
          <div class="n">
            <label align="center">Menu</label>
            <div class="side_bar">
              <form action="/webpageSubmit" method='GET'>
                <input type="submit" value="view complaints" class="btn" style="color: rgb(13, 10, 10);">
              </form>
            </div>
          </div>
        </nav>
        <form class="main1">
          
          <form class="sheet">
            
            <h1>Welcome to GRIEVANCE Portal</h1>
          </form>
        </form>
      </div>
    </body>
</html>
