<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <title>login</title>
        <style>
            .login_btn{
                background-color: rgb(93, 138, 205);
                border:none; 
                border-radius:10px; 
                padding:15px;
                
            }
            .login_btn:hover{
                background-color: rgb(105, 86, 224);
                transition: 0.7s;
            }
            .login_btn:focus{
                outline-style:solid;
                box-shadow: 0 0 0 4px rgb(98, 134, 211);
            }
            .login_b{
                background-image: url("https://media.istockphoto.com/id/995688184/photo/abstract-light-blue-background-textured-effect.jpg?s=170667a&w=0&k=20&c=uQjaRjkYaPE0gV4Tij_Qqop0HCgKpzrHF4KWmukIo3I=");
                background-repeat: no-repeat;
                background-size: cover;
            }
            .login_f{
                margin-left: 70%;
                margin-bottom: 10%;
                margin-top: -5px;
                padding-top: 6%;
                padding-bottom: 5%;
                padding-left:3%;
                padding-right:5%;
                border-radius: 40px;
                background-color: rgb(195, 130, 233);
                color: rgb(14, 13, 16);
            }
            .login_c{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-top:5%;
                margin-left: 17%;
                margin-right: 10%;
                padding-right:5%;
                padding-top:5%;
                height: 500px;
                width: 800px;
                background-color: rgb(134, 101, 212);
                box-shadow: 0 4px 8px 0 rgba(31, 19, 19, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                background-image: url("https://t4.ftcdn.net/jpg/04/23/17/85/360_F_423178527_SvtE5D0UTYwj39x0vrUq2TwL2yGHhYDz.jpg");
                background-size: 500px 600px;
                background-repeat: no-repeat;
            }
            .login_btn{
                background-color: rgb(95, 205, 232);
                border:none; 
                border-radius:30px; 
                padding:10px;
                padding-left: 50px;
                padding-right: 50px;
                margin-left:14%;
            }
            input[type=text], input[type=password] {
                margin:5%;
                padding:10px;
                border:0;
                border-radius: 30px;
                box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
            }
            .login_h{
                margin-left:50px;
                font-size: 30px;
            }
        </style>
    </head>
    <body class="login_b">
        <div class="login_c">
            <form method="GET" action="loginSubmit" class="login_f"> 
                <h2 class="login_h">Login</h2>   
                <br><br><input type="radio" name="type_of_login" value="user" required><b>Student</b>
                <input type="radio" name="type_of_login" value="faculty" required><b>Faculty</b><br><br>
                <b>userid</b> <br>
                <input type="text" name="userid" required><br><br>
                <b>Password </b><br>
                <input type="password" name="pass" required><br><br>
                <input type="submit" value="login" class="login_btn">
            </form>
        </div>
    </body>
</html>
