<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mainpage</title>
    <style>
       
        body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: url("https://blog.vantagecircle.com/content/images/2019/10/employee-grievances.png");
            background-repeat: no-repeat;
            border-image-width: auto;
            
            background-size: 100% 80%;
            border:2px solid black;
            padding-bottom: 40%;
        }
        .main{
            position: relative;
            height: 12%;
            width: 100%;
            margin-top: 2px;
            border-radius: 10px;
            padding: 0.1rem 0.2rem 2rem 0.5rem;
            background: rgb(183, 250, 75)
            
        }
        .h{
            margin-left: 30%;
            font-size: 35px;
            margin-top:-8px;
        }
        .btn{
            background-color: rgb(129, 252, 92);
            border-radius: 15px;
            padding: 10px 20px 10px 20px;
            font-size: 20px;
            color: #94b4ec;
            margin-left: 85%;
        }

        .btn:hover{
            background: rgb(77, 134, 203);
        }
        .btn:active{
            background: rgb(0, 71, 171)
        }
    </style>
    </head>
    <body >
        <div class="main">
            <h1 align="center" style="color: #1e1239" >&nbsp; Welcome to college Grievance portal</h1>
            
        </div>
        
        <br><br>
        <div align="left" class="b">
            <br><br>
            <form method="GET" action="login">
                <button class="btn" style="color:rgb(52, 26, 26)">LOGIN</button>
                <br><br>
            </form>
            <form method="GET" action="signup">
                <button class="btn" style="color:rgb(52, 26, 26)">SIGN UP</button>
            </form>
        </div>   
    </body>
</html>
