<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <title>signup</title>
      <style>
        .a{
          background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148817571.jpg?w=2000");
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
        .child {
          display: inline-block;
          padding: 2rem 2rem;
          height: 500px;
          width:400px;
          vertical-align: middle;
          margin-right:2%;
          margin-left: 15%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .child1 {
          display: inline-block;
          padding: 2rem 2rem;
          vertical-align: middle;
          height: 500px;
          width:400px;
          margin-left:2%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        input[type=text], input[type=password], input[type=number] {
          margin:2%;
          padding:4px;
          border:0;
          border-radius: 30px;
          box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
        }
        input[type=submit]{
            background-color: rgb(211,211,211);
            border:none; 
            border-radius:10px; 
            padding:15px;
        }
        input[type=submit]:hover{
            background-color:#90ee90;
            transition: 0.7s;
        }
        input[type=submit]:focus{
            outline-style:solid;
            box-shadow: 0 0 0 4px black;
        }
    </style>
  </head>
    <body class="a">
        <h2 style="text-align: center;">Welcome to college greivance portal login page</h2><br><br><br>
        <div class="parent">
            <div class="child">
                
                <center>
                    <form method = "GET" action="signupSubmit1">
                        <h2>Student Signup</h2><br><br>
                        Name : <input type="text" name="user"><br><br>
                        Rollno: <input type="text" name="roll" required><br><br>
                        userid: <input type="text" name="userid" required><br><br>
                        Phone : <input type="number" name="phone"><br><br>
                        Address: <input type="text" name="add"><br><br>
                         Email : <input type="text" name="email" required><br><br>
                        Password: <input type="password" name="pass" required><br><br>
                        <input type="submit">
                    </form>
                </center>
            </div>
            <div class="child1">
               
                <center>
                    <form method = "GET" action="signupSubmit2">
                        <h2>Faculty Signup</h2><br><br>
                        Name : <input type="text" name="user"><br><br>
                        userid: <input type="text" name="userid"><br><br>
                        Phone : <input type="number" name="phone" ><br><br>
                        Address: <input type="text" name="add" ><br><br>
                        Email : <input type="text" name="email" required><br><br>
                        Password: <input type="password" name="pass" required><br><br>
                        <input type="submit">
                    </form>
                </center>
            </div>
        </div>
    </body>
</html>
