<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <title>Display</title>
        <style>
            .web_btn{
                    border:none; 
                    padding:15px;
                    background-color: rgb(67, 70, 74);
                    color: white;
                    border-radius: 5px;
                    padding: 5px;
                    
                }
                .web_btn:hover{
                    background-color: rgb(0,128,0);
                    transition: 0.7s;
                }
                .web_btn:focus{
                    outline-style:solid;
                       box-shadow: 0 0 0 4px black;
                }
            
                .web_p{
                    padding: 2%;
                    background-color: gray;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    margin-left: 10%;
                    margin-right: 10%;
                    color: black;
                    margin-top: 2%;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                     }
                .img_s{
                    margin-left: 10%;
                }
                .img_a{
                    padding-left: 35%;
                    color: rgb(50,205,50);
                    margin-top: -120px;
                    font-size: 40px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
                
                .btn{
                    background-color: rgb(67, 70, 74);
                    border-radius: 5px;
                    padding: 5px;
                    margin-top: -80px;
                    margin-right: 20px;
                }
                .btn:hover{
                    background: rgb(96, 97, 97);
                }
                .btn:active{
                    background: rgb(26, 25, 25);
                }
        </style>
    </head>
    <body class="abcd_b">
        <div class="web_p">
            
            <br><br>
            <h2 align="center">Hi</h4>
            <form action = "/" method = "GET">
                <div align="right">
                    <input type = "submit" class = "btn" value = "LOGOUT" style="color: white;">
                </div>
            </form>
            <div class="web_c">
            
            <% data[1].forEach(function(data){ %>
                <h4>ISSUE  &nbsp; &nbsp;:&nbsp; <%= data[0]%></h4>
                <h4>STATUS : &nbsp;<%= data[1]%></h4>
                <hr>
            <% }) %>
            </div>
        </div>
    </body>
</html>
