<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>student Dashboard</title>
      <style>
          
          body{
            background: rgb(145, 231, 227);
          }
          
          .main1{
            margin-left: 400px;
            font-size: 20px;
          }
          .main{
            display: -webkit-flex;
            border-radius: 40px;
            margin-top: 11px;
            margin-left: 30px;
            
          }
          .n{
            display: flex;
            border-radius: 40px;
            flex-direction: column;
          }
          .n label{
            color: rgb(59, 72, 73);
            margin: 1rem 3rem;
            font-size: 22px;
            border-radius: 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding-bottom: 12%;
          }
          .btn1{
            background-color: rgb(67, 69, 70);
            border-radius: 40px;
            padding: 20px;
            margin: 20px;
            margin-top: 0px;
          }
          
          .btn{
            background-color: rgb(67, 69, 70);
            border-radius: 40px;
            padding: 20px;
            margin: 20px;
            margin-right: 30px;
          }
          .btn:hover{
            background: rgb(95, 96, 96);
          }
          .btn:active{
            background: rgb(88, 87, 87);
          }
        </style>
  </head>
  <body>
    <h1 style="color:rgb(58, 32, 202)">Welcome <%= data.userid%> </h1>
    <form action = "/" method = "GET">
      <div align="right">
        <input type = "submit" class = "btn1" value = "LOGOUT" style="color: rgb(240, 235, 239);">
      </div>
    </form>
    
    <div class="main">
      <nav style="background: rgb(235, 225, 243);" >
        <div class="n">
          <label align="center" >Menu</label>
          <div class="side_bar">
            <form action = "/aboutcomplain" method = 'GET'>
              <input type="submit" value="complain" class="btn" style="color: rgb(240, 233, 233);">
            </form>
            <form action = "/aboutview" method = 'GET'>
              <input type="submit" value="view status" class="btn" style="color: white;">
            </form>
          </div>
        </div>
      </nav>
      <br><br>
      <div class="main1">
        <h2>Student Dashboard</h2><br>
        <div class="sheet">
          
          <h1>Welcome to  GRIEVANCE Portal</h1>
        </div>
    </div>
    </div>
  </body>
</html>
